@charset "UTF-8";

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../assets/image/wall.png");
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #000000;
  color: #ffffff;
  border-bottom: 5px solid gold;
}

.painel {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-pontos h2:nth-child(1),
.menu-tempo h2:nth-child(1) {
  color: red;
}

.menu-pontos h2:nth-child(2),
.menu-tempo h2:nth-child(2) {
  margin-top: 10px;
}

.menu-vidas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quadrado {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  background-color: yellowgreen;
}

.inimigo {
  background-image: url("../assets/image/ralph.png");
  background-size: cover;
}

.erro {
  background-color: red !important;
}

.painel-game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  color: white;
  gap: 1rem;
}

.painel-game-over h2 {
  font-size: 2rem;
  color: red;
}

.painel-game-over h3 {
  font-size: 1.5rem;
}

#restart-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-family: "Press Start 2P", cursive;
  background-color: gold;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

#restart-button:hover {
  background-color: darkgoldenrod;
  color: white;
}
