@charset "UTF-8";

main{
    display:flex;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #000000;
    color: #ffffff;
}
