@charset "UTF-8";


main{
    display:flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("/src/assets/image/wall.png");
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid gold;
}

.painel{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-pontos h2:nth-child(1),
.menu-tempo h2:nth-child(1){
    color: red;
}


.menu-pontos h2:nth-child(2),
.menu-tempo h2:nth-child(2){
    margin-top: 10px;
}

.menu-vidas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrado{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: yellowgreen;
}

.inimigo{
    background-image: url("/src/assets/image/ralph.png");
    background-size: cover;
}

